.expense {
  padding: 2.5rem;
  background-color: #c2c2c2;
  margin-top: 0.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense p {
  font-size: 1.6rem;
}
