* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #666;
  --background: linear-gradient(to right bottom, #1f4037, #99f2c8);
  --white-color: #f7f7f7;
  --md-grey-color: rgba(214, 214, 214, 1);
  --blue-color: #1072db;
  --blue-color-hover: #2a89fd;
  --red-color: #d34836;
  --red-color-error: rgb(233, 40, 15);
  --red-color-error-background: #ffd2d2;
  --green-color: #3d6c5b;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 114rem;
  margin: 10rem auto;
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 2.5rem;
}

.center-container {
  text-align: center;
}

.center-container h4 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--text-color);
}

.label {
  font-size: 2rem;
  color: var(--text-color);
}

.input {
  width: 100%;
  padding: 13px 5px;
  border-radius: 3px;
  border: 1px solid var(--md-grey-color);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
}

.button {
  padding: 10px 20px;
  border: none;
  color: var(--white-color);
  background: var(--blue-color);
  cursor: pointer;
  transition: background 0.2s, color 0.2s ease-in-out;
  border-radius: 3px;
  font-weight: 700;
  margin-top: 2rem;
}

.simple-button {
  background: transparent;
  border: none;
  color: var(--blue-color);
  font-size: 1.6rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  outline: none;
  cursor: pointer;
}

.simple-button:hover {
  color: var(--blue-color-hover);
}

.button:hover {
  background: var(--blue-color-hover);
}

.mt-05 {
  margin-top: 0.5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.border {
  margin: 5rem 0;
  display: block;
  width: 100%;
  height: 1px;
  background: var(--md-grey-color);
}

.error {
  padding: 0.3rem 1rem;
  border-radius: 3px;
  font-size: 1.4rem;
  color: var(--red-color-error);
  background: var(--red-color-error-background);
  margin-top: 1rem;
  font-weight: 500;
  width: 14rem;
}

.green {
  color: var(--green-color);
  font-weight: bold;
  font-size: 1.8rem;
}

.red {
  color: var(--red-color);
  font-size: bold;
  font-size: 1.8rem;
}

.icon {
  width: 2.8rem;
  height: 2.8rem;
  fill: var(--white-color);
  transition: fill 0.2s ease;
}

.icon-green:hover {
  fill: var(--green-color);
}

.icon-red:hover {
  fill: var(--red-color);
}
